/*
Colori:
sfondo body #f6f8f9
sfondo header #ffffff
button-grey #e9ecee
button "blu" #47acf1
button "viola" ##9c72e4
button "verde/turchese" ##64c0a9
button "arancio" ##f29e33
button "fucsia" ##d863a1
button "verde chiaro" ##b0c925
BLACK DOWN-POINTING SMALL TRIANGLE &#9662;
segno di spunta verde "check" &#10003; #67c1ab
segno di spunta rosso "cross" &#10007; #eb5851


*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body{
    background-color: #f6f8f9;
}

.button-grey {
    margin: 5px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border: 1px solid #e9ecee;
    color: #e9ecee;
    border-radius: 5px;
  }

  .check{
    border: 1px solid #67c1ab;
    border-radius: 50%;
    color: #67c1ab;
    margin-right: 10px;
    padding: 3px;
    font-size: 12px;
}
.cross{
    border: 1px solid #eb5851;
    border-radius: 50%;
    color: #eb5851;
    margin-right: 10px;
    padding: 3px;
    font-size: 12px;
}


/* Header */
header{
    background-color: #fff;
    height: 75px;
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    align-items:center;
}
.big-text {
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
}

/* Main */
.container{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
}

/* Navbar */
.navbar{
   border-bottom: 2px solid #f6f8f9;
   width: 100%;
   height: 70px;
   padding: 10px 50px;
}
button {
    height: 40px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button-blue {
      margin: 5px;
      padding: 10px;
      display: inline-block;
      text-align: center;
      background-color: #47acf1;
      color: white;
      border-radius: 5px;
    }


    .task {
        margin-top: 20px;
        margin-left: 50px;
    }
    .title-task {
        font-size: 20px;
        font-weight: bold;
    }
    .task ul li{
        font-size: 18px;
        list-style-type: none;
        margin-top: 10px;
    }
